src/RSE-V3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="rse-symbol" type="xs:string"/>
	<xs:element name="rse-stocks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rse-stock" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="rse-stock">
		<xs:complexType>
			<xs:all>
				<xs:element ref="rse-symbol"/>
				<xs:element ref="rse-company-name"/>
				<xs:element ref="rse-price"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="rse-price" type="xs:int"/>
	<xs:element name="rse-item">
		<xs:complexType>
			<xs:attribute name="symbol" type="xs:string" use="required"/>
			<xs:attribute name="quantity" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="rse-holdings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rse-item" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="rse-company-name" type="xs:string"/>
	<xs:element name="rizpa-stock-exchange-descriptor">
		<xs:complexType>
			<xs:all>
				<xs:element ref="rse-stocks"/>
				<xs:element ref="rse-holdings"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
